<h1>Forum</h1>
<table>
  <tr>
    <% @events.each do |event| %>
    </tr>
    <tr>
      <td>
        <%= event.name %>
      </td>
      <td><%= link_to 'Show', event_path(event) %></td>
      <td><%= link_to 'Edit',edit_event_path(event) %></td>
      <td><%= link_to 'Delete', event_path(event), :method=> :delete, :data=>{:confirm => "Are u sure?"} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Event', new_event_path, :class=>"btn"%>
